* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --font: 'Montserrat', sans-serif;

    /* Colors */
    --fondo: #FFFFFF;
    --blanco-oscuro: #F5F3F4;
    --color-texto: #161A1D;
    --rojo: #BA181B;
    --rojo-claro: #E5383B;
}

body {
    width: 100%;
    max-width: 768px;
    height: 100vh;
    background: var(--fondo);
    color: var(--color-texto);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 90%;
    height: 50%;
    margin: auto;
    background: var(--blanco-oscuro);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.password-generada {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: .2rem .5rem;
    border: 1px solid var(--color-texto);
    border-radius: 10px;
    overflow: hidden;
}




