* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --font: 'Montserrat', sans-serif;

    /* Colors */
    --fondo: #FFFFFF;
    --blanco-oscuro: #F5F3F4;
    --color-texto: #161A1D;
    --rojo: #BA181B;
    --rojo-claro: #E5383B;
}

body {
    width: 100%;
    max-width: 768px;
    height: 100vh;
    background: var(--fondo);
    color: var(--color-texto);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 90%;
    height: 50%;
    margin: auto;
    background: var(--blanco-oscuro);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.password-generada {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: .2rem .5rem;
    overflow: hidden;
}

.rango {
    width: 50%;
}

.rango__input {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-texto);
    border-radius: 10px;
    height: .5rem;
}

input[type="range"]::-moz-range-track {
    background: var(--color-texto);
    border-radius: 10px;
    height: .5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--rojo);
    margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    height: 1rem;
    width: 1rem;
    background: var(--rojo);
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid var(--blanco-oscuro);
    outline: 2px solid var(--rojo-claro);
    outline-offset: 0.125rem;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--blanco-oscuro);
    outline: 2px solid var(--rojo-claro);
    outline-offset: 0.125rem;
}

.rango__p {
    margin-top: .5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}


.contenedor__boton {
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    outline: 1px solid var(--color-texto);
    border: none;
    transition: background .2s ease;
}

.contenedor__boton:hover {
    cursor:pointer;
    background: var(--rojo-claro);
    outline: none;
}